/* an asterisk as a title in css applies all html page */

* {
  margin: 0;
  padding: 0;
}

/* info on the background image css: https://blog.logrocket.com/css-full-page-background/ */
body {
  background-image: url("/image/anders-jilden-AkUR27wtaxs-unsplash.jpg");
      background-repeat: no-repeat;
    background-position: center center;
  background-color: #E59397;
  background-size: cover;
  /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  
  font-family: fantasy;
  text-align: center;

}
.container {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  /* this all centers the container; adding display: flex made it actually centeredy*/
}

/* Identify specific div classes with a period followed by name, not sure if it needs to be case sensitive */ 
.clock {
  width: 600px;
  height: 120px;
  /* the last digits on the rgba is an alpha which converts opacity; you
  can adjust manually in the ide or use a website like:
  http://hex2rgba.devoth.com/ */
  background: rgba(252, 175, 157, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  }
/* this will affect the numbers which are in span in the clock div */
  .clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
  }