/* an asterisk as a title in css applies all html page */

* {
  margin: 0;
  padding: 0;
}

/* info on the background image css: https://blog.logrocket.com/css-full-page-background/ */
body {
  background-image: url("/image/anders-jilden-AkUR27wtaxs-unsplash.jpg");
      background-repeat: no-repeat;
    background-position: center center;
  background-color: #E59397;
  background-size: cover;
  /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white; 
}
/* first set a container and then something inside for the clock */
.container {
  width: 800px;
  height: 200px;
  position: absolute; 
 top: 50%; 
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  /* this all centers the container; adding display: flex made it actually centeredy*/
}

/* Identify specific div classes with a period followed by name, not sure if it needs to be case sensitive */ 
.clock {
  width: 600px;
  height: 120px;
  /* the last digits on the rgba is an alpha which converts opacity; you
  can adjust manually in the ide or use a website like:
  http://hex2rgba.devoth.com/ */
  background: rgba(252, 175, 157, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  }
/* this will affect the numbers which are in span in the clock div */
  .clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
  }
/* the next few lines insert labels for the span items */
  .clock span::after {
    font-size: 18px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  #hrs::after {
    content: 'HOURS';
  }
  #min::after {
    content: 'MINUTES';
  }
  #sec::after {
    content: 'SECONDS';
  }

  /* now style the alarm and button! */
  .myButton {
    background-color: #494458;
    border: 2px solid #E59397;
    color: whitesmoke;
    text-align: center;
    border-width: 2px;
    border-radius: 4px;
    padding: 5px;
  }

  .myButton:active {
    background-color: #D46C75;
  }

