
/* info on the background image css: https://blog.logrocket.com/css-full-page-background/ */
body {
  background-image: url("/image/anders-jilden-AkUR27wtaxs-unsplash.jpg");
      background-repeat: no-repeat;
    background-position: center center;
  background-color: #E59397;
  background-size: cover;
  /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  position: absolute; 
  font-family: fantasy;
  text-align: center;

}

/* Identify specific div classes with a period followed by name, not sure if it needs to be case sensitive */ 
.Clock {
  position: absolute;
  #time {

  }
}